a {
  text-decoration: none;
  color: "#fff";
}

span {
  color: darkcyan;
}

.link_styles {
  color: #fff;
}

.link_styles:hover {
  color: darkcyan;
}

.darkcyan {
  color: darkcyan;
}

.darkcyan:hover {
  color: white;
}

@media (max-width: 550px) {
  .jumbo_social i {
    font-size: 1.4rem;
  }
}
